<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>614284753763-m9kli9n040u3099jq2vlmti3o3t25v1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614284753763-m9kli9n040u3099jq2vlmti3o3t25v1a</string>
	<key>API_KEY</key>
	<string>AIzaSyB1IMrBfSbbj7OD8LOJGSbSNIJrBd5YUL4</string>
	<key>GCM_SENDER_ID</key>
	<string>614284753763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shomikoron</string>
	<key>PROJECT_ID</key>
	<string>firefun-7fc32</string>
	<key>STORAGE_BUCKET</key>
	<string>firefun-7fc32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:614284753763:ios:b5125f316592fc31</string>
	<key>DATABASE_URL</key>
	<string>https://firefun-7fc32.firebaseio.com</string>
</dict>
</plist>